<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goat.rbac.goatrbac.buzz.dao.CombineMapper">

    <resultMap id="questionMap" type="com.goat.rbac.goatrbac.buzz.model.Question">
        <id column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
        <result column="QUESTION_TYPE" jdbcType="INTEGER" property="questionType" />
        <result column="QUESTION_STATUS" jdbcType="INTEGER" property="questionStatus" />
        <result column="QUESTION_AUDIO" jdbcType="VARCHAR" property="questionAudio" />
        <result column="QUESTION_TEXT" jdbcType="VARCHAR" property="questionText" />
        <result column="QUESTION_SCORE" jdbcType="INTEGER" property="questionScore" />
        <result column="QUESTION_ANSWER" jdbcType="VARCHAR" property="questionAnswer" />
        <result column="QUESTION_DESC" jdbcType="VARCHAR" property="questionDesc" />
        <result column="QUESTION_OPTIONS" jdbcType="VARCHAR" property="questionOptions" />
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <select id="list" parameterType="java.util.Map" resultMap="questionMap">
        SELECT dict.value as questionTypeName,
               dict2.value as subjectName,
               q.QUESTION_TYPE,q.QUESTION_DESC,q.QUESTION_LABEL,q.QUESTION_SCORE,q.SUBJECTID
        FROM ${tableName} as q
        INNER JOIN (SELECT keyy  ,value FROM t_dict WHERE TABLE_NAME = 'b_question') dict ON q.QUESTION_TYPE = dict.KEYY
        INNER JOIN (SELECT keyy  ,value FROM t_dict WHERE TABLE_NAME = 'b_subject') dict2 ON q.SUBJECTID = dict2.KEYY
        WHERE  1=1
        <if test="subjectId !=null and subjectId != '' or subjectId == 0">
            AND SUBJECTID = #{subjectId}
        </if>
        <if test="questionType !=null and questionType != '' or questionType == 0">
            AND QUESTION_TYPE = #{questionType}
        </if>
    </select>

</mapper>

