<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goat.rbac.goatrbac.system.dao.DictMapper">

  <resultMap id="dictMap" type="com.goat.rbac.goatrbac.system.model.Dict">
    <id column="DICT_ID" jdbcType="DECIMAL" property="dictId" />
    <result column="KEYY" jdbcType="DECIMAL" property="keyy" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
    <result column="FIELD_NAME" jdbcType="VARCHAR" property="fieldName" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
  </resultMap>

    <insert id="insert" parameterType="dict" >
        insert into t_dict (KEYY, VALUE,FIELD_NAME,TABLE_NAME) values(#{keyy},#{value},#{fieldName},#{tableName})
    </insert>


    <select id="findDictList" resultMap="dictMap" parameterType="dict">
        SELECT *  FROM t_dict
        WHERE 1=1
        <if test="dictId !=null and dictId != ''">
            AND dictId = #{dictId}
        </if>
         <if test="keyy !=null and keyy != ''">
            AND KEYY = #{keyy}
        </if>
        <if test="value !=null and value != ''">
            AND value = #{value}
        </if>
        <if test="fieldName !=null and fieldName != ''">
            AND fieldName = #{fieldName}
        </if>
        <if test="tableName !=null and tableName != ''">
            AND tableName = #{tableName}
        </if>
    </select>

</mapper>