<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goat.rbac.goatrbac.system.dao.UserMapper">

  <resultMap id="userMap" type="com.goat.rbac.goatrbac.system.model.User">
<!--    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />-->
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="DEPT_ID" jdbcType="DECIMAL" property="deptId" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="SSEX" jdbcType="CHAR" property="ssex" />
    <result column="THEME" jdbcType="VARCHAR" property="theme" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
  </resultMap>

    <update id="update" parameterType="user">
        update t_user
        <set>
            DEPT_ID = #{deptId},
            <if test="email != null and email != ''">EMAIL = #{email},</if>
            <if test="password != null and password != ''">PASSWORD = #{password},</if>
            <if test="mobile != null and mobile != ''">MOBILE = #{mobile},</if>
            <if test="status != null and status != ''">STATUS = #{status},</if>
            <if test="ssex != null and ssex != ''">SSEX = #{ssex},</if>
            <if test="theme != null and theme != ''">THEME = #{theme},</if>
            <if test="avatar != null and avatar != ''">AVATAR = #{avatar},</if>
            <if test="description != null and description != ''">DESCRIPTION = #{description},</if>
            MODIFY_TIME = sysdate()
        </set>
        where USER_ID = #{userId}
    </update>


    <insert id="insert" parameterType="user" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO t_user (
        <trim suffix="" suffixOverrides=",">
            <if test="username!=null and username!='' ">USERNAME, </if>
            <if test="password!=null and password!='' ">PASSWORD, </if>
            <if test="deptId!=null and deptId!='' ">DEPT_ID, </if>
            <if test="email!=null and email!='' ">EMAIL, </if>
            <if test="mobile!=null and mobile!='' ">MOBILE, </if>
            <if test="status!=null and status!='' ">status, </if>
            <if test="createTime!=null  ">CREATE_TIME, </if>
            <if test="modifyTime!=null  ">MODIFY_TIME, </if>
            <if test="lastLoginTime!=null  ">LAST_LOGIN_TIME, </if>
            <if test="ssex!=null and ssex!='' ">SSEX, </if>
            <if test="theme!=null and theme!='' ">theme, </if>
            <if test="avatar!=null and avatar!='' ">AVATAR, </if>
            <if test="description!=null and description!='' ">DESCRIPTION, </if>
        </trim>)
        VALUES (
        <trim suffix="" suffixOverrides=",">
            <if test="username!=null and username!='' ">#{username}, </if>
            <if test="password!=null and password!=''">#{password}, </if>
            <if test="deptId!=null and deptId!=''">#{deptId}, </if>
            <if test="email!=null and email!=''">#{email}, </if>
            <if test="mobile!=null and mobile!=''">#{mobile}, </if>
            <if test="status!=null and status!=''">#{status}, </if>
            <if test="createTime!=null ">#{createTime}, </if>
            <if test="modifyTime!=null ">#{modifyTime}, </if>
            <if test="lastLoginTime!=null ">#{lastLoginTime}, </if>
            <if test="ssex!=null and ssex!=''">#{ssex}, </if>
            <if test="theme!=null and theme!=''">#{theme}, </if>
            <if test="avatar!=null and avatar!=''">#{avatar}, </if>
            <if test="description!=null and description!=''">#{description}, </if>
        </trim>)
    </insert>

<!--    <delete id="deleteById" parameterType="Long">-->
<!--        delete from t_user where dict_code in-->
<!--    </delete>-->

    <delete id="deleteByIds" parameterType="String">
        delete from t_user where USER_ID in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <select id="findUserOne" resultMap="userMap" parameterType="user">
        SELECT * FROM t_user WHERE 1 = 1
        <if test="userId != null and userId != ''"> AND USER_ID = #{userId} </if>
        <if test="username != null and username != ''"> AND USERNAME = #{username} </if>
    </select>


<!--  doit 为啥上面这个 resultMap="userMap" 调用后无法赋值 userId 和 createTime属性？-->
<!--  <select id="findUserWithDept" resultMap="userMap" parameterType="user">-->
  <select id="findUserWithDept" resultType="user"  parameterType="user">
  		select u.user_id userId,u.username,u.email,u.mobile,u.status,u.CREATE_TIME createTime,
  		u.ssex,d.dept_name deptName from t_user u 
  		left join t_dept d on(u.dept_id = d.dept_id)
  		where 1=1
  		<if test="username != null and username != ''">
            AND u.username like concat('%', #{username}, '%')
	    </if>
	    <if test="deptId != null and deptId != ''">
	        AND d.dept_id = #{deptId}
	    </if>
  		<if test="ssex != null and ssex != ''">
	        AND u.ssex = #{ssex}
	    </if>
	    <if test="status != null and status != ''">
	        AND u.status = #{status}
	    </if>
  		order by u.user_id
  </select>
  
    
<!--  <select id="findUserWithRole" resultType="userWithRole">-->
<!--		select u.user_id userId,u.username,u.dept_id deptId,u.email,u.mobile,-->
<!--		u.status,u.ssex,ur.role_id roleId from t_user u-->
<!--		left join t_user_role ur on (u.user_id = ur.user_id)-->
<!--		where u.user_id = #{userId}-->
<!--  </select>-->
  
  <select id="findUserProfile" resultType="user" parameterType="user">
	SELECT
		U .USERNAME,
		U .USER_ID userId,
		D .DEPT_NAME deptName,
		U .mobile,
		U .email,
		U .avatar,
		U .description,
		U .ssex,
		U .dept_id deptId,
		group_concat(r.role_name) AS roleName
	FROM
		t_user U
	LEFT JOIN t_dept D ON U .DEPT_ID = D .DEPT_ID
	LEFT JOIN t_user_role ur ON U .user_id = ur.user_id
	LEFT JOIN t_role r ON r.role_id = ur.role_id
	WHERE
		U .USER_ID = #{userId}
	GROUP BY
		U .username,
		D .dept_name,
		U .mobile,
		U .email,
		U .avatar,
		U .description,
		U .ssex,
		U .USER_ID,
		U .dept_id
  </select>
  
</mapper>